## Exploratory Data Analysis

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pymongo
import os
import dotenv

### 1. Extracting data from the MonDB to dataframe

In [28]:
# get mongoDB credentials from '.env' folder
dotenv.load_dotenv('.env')
username = os.environ['USERID']
password = os.environ['PASSCODE']

# create new client for mongoDB
client = pymongo.MongoClient(f"mongodb+srv://{username}:{password}@cluster01.n7r3noi.mongodb.net/?retryWrites=true&w=majority")

# send a 'ping' to confirm a successful connection
try:
    client.admin.command('ping')
    print("You are successfully connected to mongoDB database")
except Exception as e:
    print(e)

# Get DB connection Object
db = client['smart_phone']
collection = db['IPhone14']

You are successfully connected to mongoDB database

In [29]:
# Fetch data from mongoDB
data = collection.find({}, {'_id':0})


# Convert data cursor to list of dictionaries 
data_list = list(data)

# Conver list of dictionaries to pandas DF
df = pd.DataFrame(data_list)

In [31]:
df.head()

,name,rating,review,description,city,state,country,date
0,Avi Nash,5,Just wow!,Good,Bengaluru,Karnataka,India,2023-06-30
1,Tara singh mehra,5,Great product,Nice camera but battery drain fast specially o...,Ramnagar,Uttarakhand,India,2023-05-31
2,Rahul Prasad,5,Fabulous!,Best smart phone under this price range compar...,Debipur,West Bengal,India,2023-07-31
3,Ajay Kumar,5,Brilliant,Just amazing!,Raigarh,Chhattisgarh,India,2023-08-31
4,Narendar Redyy,4,Very Good,Nice UI and Fast,Yenugonda,Telangana,India,2023-06-30

### 2. Summarize data

In [40]:
df.shape

(631, 8)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631 entries, 0 to 630
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         631 non-null    object
 1   rating       631 non-null    object
 2   review       631 non-null    object
 3   description  631 non-null    object
 4   city         631 non-null    object
 5   state        628 non-null    object
 6   country      631 non-null    object
 7   date         631 non-null    object
dtypes: object(8)
memory usage: 39.6+ KB

In [41]:
df.isnull()

      name  rating  review  description   city  state  country   date
0    False   False   False        False  False  False    False  False
1    False   False   False        False  False  False    False  False
2    False   False   False        False  False  False    False  False
3    False   False   False        False  False  False    False  False
4    False   False   False        False  False  False    False  False
..     ...     ...     ...          ...    ...    ...      ...    ...
626  False   False   False        False  False  False    False  False
627  False   False   False        False  False  False    False  False
628  False   False   False        False  False  False    False  False
629  False   False   False        False  False  False    False  False
630  False   False   False        False  False  False    False  False

[631 rows x 8 columns]

In [39]:
df.isnull().sum()

name           0
rating         0
review         0
description    0
city           0
state          3
country        0
date           0
dtype: int64